*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#0f172a;
    color:white;
    padding:40px;
}

.header{
    text-align:center;
    margin-bottom:40px;
}

.header p{
    color:#94a3b8;
    margin-top:10px;
}

.summary-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-bottom:30px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    text-align:center;
}

.card h2{
    margin-bottom:15px;
}

.score{
    font-size:30px;
    font-weight:bold;
}

.blue{
    color:#3b82f6;
}

.green{
    color:#22c55e;
}

.orange{
    color:#f59e0b;
}

.purple{
    color:#a855f7;
}

.report-section{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    margin-bottom:20px;
}

.report-section h2{
    color:#60a5fa;
    margin-bottom:15px;
}

.report-section ul{
    padding-left:20px;
}

.report-section li{
    margin:10px 0;
}

.progress-bar{
    width:100%;
    height:30px;
    background:#334155;
    border-radius:20px;
    overflow:hidden;
}

.progress{
    width:65%;
    height:100%;
    background:#22c55e;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
}

.readiness{
    font-size:60px;
    font-weight:bold;
    color:#22c55e;
    margin-bottom:15px;
}

.button-section{
    text-align:center;
    margin-top:30px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#1d4ed8;
}