*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#0f172a;
    color:white;
    padding:40px;
}

.header{
    text-align:center;
    margin-bottom:40px;
}

.header p{
    color:#94a3b8;
    margin-top:10px;
}

.career-box{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    text-align:center;
    margin-bottom:30px;
}

.career-name{
    font-size:30px;
    font-weight:bold;
    color:#3b82f6;
    margin-top:10px;
}

.skills-section{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-bottom:30px;
}

.skill-card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
}

.skill-card h3{
    margin-bottom:15px;
    color:#60a5fa;
}

.skill-card ul{
    list-style:none;
}

.skill-card li{
    margin:12px 0;
}

.priority-section{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    margin-bottom:30px;
}

.priority-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
    margin-top:20px;
}

.priority{
    padding:20px;
    border-radius:10px;
    text-align:center;
    font-weight:bold;
}

.priority span{
    display:block;
    margin-top:10px;
}

.high{
    background:#dc2626;
}

.medium{
    background:#f59e0b;
}

.low{
    background:#16a34a;
}

.recommendation{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
}

.recommendation h2{
    color:#60a5fa;
    margin-bottom:15px;
}