*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#0f172a;
    height:100vh;
}

.container{
    display:flex;
    min-height:100vh;
}

.left-section{
    flex:1;

    background:linear-gradient(
        135deg,
        #2563eb,
        #1e40af
    );

    color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;

    padding:80px;
}

.left-section h1{
    font-size:55px;
    margin-bottom:20px;
}

.left-section p{
    font-size:20px;
    line-height:1.7;
}

.right-section{
    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;
}

.register-card{

    width:450px;

    background:#1e293b;

    padding:40px;

    border-radius:20px;

    box-shadow:0 0 20px rgba(0,0,0,.3);
}

.register-card h2{
    color:white;
    text-align:center;
    margin-bottom:25px;
}

.register-card input{

    width:100%;

    padding:15px;

    margin-bottom:15px;

    border:none;

    border-radius:10px;

    background:#334155;

    color:white;
}

.register-card button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    font-size:16px;

    cursor:pointer;
}

.register-card button:hover{
    background:#1d4ed8;
}

.login-text{

    margin-top:20px;

    text-align:center;

    color:#cbd5e1;
}

.login-text a{
    color:#60a5fa;
    text-decoration:none;
}